<!-- <div class = "page-header"> -->
  <!-- <h1><a href = "{{ site.baseurl }}/">{{ site.title }}</a></h1> -->
<!-- </div> -->

<nav role="navigation">
    <h1><a href = "{{ site.baseurl }}/">{{ site.title }}</a></h1>
    
    <div>
        <ul class="navbar">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          {% assign pages = site.pages | sort: 'index' %}
          {% for page in pages %}
              {% if page.home %}
              {% else %}
                  {% if page.title %}
                      <li>
                          <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                      </li>
                  {% endif %}
              {% endif %}
          {% endfor %}
        </ul>
    </div>
</nav>
