<nav role="navigation">
    <div>
        <h1><a href = "{{ site.url }}">{{ site.title }}</a></h1>
    </div>

    <div>
        <ul class="navbar">
          {% assign pages = site.pages | sort: 'index' %}
          {% for page in pages %}
                  {% if page.title %}
                      <li>
                          <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                      </li>
                  {% endif %}
          {% endfor %}
        </ul>
    </div>
</nav>
