a:hover {
    text-decoration: none;
}

div .tag {
    display: inline-block;
    background-color: #ffe6e6;
    padding: .3em;
    margin-right: .5em;
    border-radius: 5%;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.tag:hover {
    transform: scale(1.1);
}
