a:hover {
    text-decoration: none;
    color: #A2D9CE;
}

.tag {
    display: inline-block;
    border: 1px solid black;
    padding: .3em .5em;
    margin-right: .5em;
    border-radius: 3%;
}

.tag > a, .post-date{
    color: #424949;
}

.tag:hover {
    background-color: #e8f0f7;
}
