---
---

@import "{{ site.theme }}";
@media screen and (min-width: 64em) { .site-footer { font-size: .7rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .site-footer { font-size: .7rem; } }
@media screen and (max-width: 42em) { .site-footer { font-size: 0.5rem; } }
