html {
    position: relative;
    min-height: 100%;
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
    margin-bottom: 70px;   /* Margin bottom by footer height */
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: #6897bb;
}

a:hover { color: #A2D9CE; }

img {
    max-width: 100%;
    height: auto;
}

.page-header { padding: 2% 3%; }

.page-header h1 {
    margin: auto;
    padding: 0.5%;
    font-size: 3.5em;
}

.page-header h2 {
    margin: auto;
    padding: 0.5% 3%;
    font-size: 1.5em;
    font-style: italic;
    font-weight: normal;
}

.page-header a:not(:hover) { color: #404040; }

.main-content {
    padding: 2% 3%;
    margin: 1% 5%;
}

.main-content h2 { font-size: 2em; }

.main-content h3 { font-size: 1.5em; }

.main-content p, .post-title { font-size: 1.3em; }

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;   /* Set the fixed height of the footer here */
    border-top: 1px dashed rgba(0,0,0,0.1);
    line-height: 2em;
}

.nav-block {
    margin: 1%;
    padding: 2%;
    /*flex box*/
    display: -webkit-box;  /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;  /* Firefox 19 */
    display: -ms-flexbox;  /* IE 10 */
    display: -webkit-flex;  /* Chrome */
    display: flex;  /* Opera 12.1, Firefox 20+ */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

.nav-block a {
    height: 100px;
    height: 3em;
    width: 15%;
    padding: 8%;
    margin-top: 1%;
    font-size: 2em;
    background-color: #f7f7f7;
    text-align: center;
}

.nav-block a:nth-child(2):not(:hover) {
    background-color: #dfe3ee;
    color: #3b5998;
}

.nav-block a:nth-child(3):not(:hover) {
    background-color: #8b9dc3;
    color: #344e86;
}

.nav-block a:hover { background-color: #5a5a5a; }

.excerpt-block {
    background-color: #f7f7f7;
    margin: 2% auto;
    width: 80%;
    padding: inherit;
}

.excerpt-block h3 { margin: auto; }

.excerpt-block:nth-child(2n) { background-color: #dfe3ee; }

.tag {
    display: inline-block;
    border: 1px solid black;
    padding: .5em;
    margin: .5em .5em .5em 0;
    border-radius: 1em;
}

.tag > a, .post-date{ color: #424949; }

.tag:hover { background-color: #dfe3ee; }

.post-list {
    margin: auto;
    width: 80%;
    padding-top: 30em;
}

.post-list > div { padding: 3em 5em; }

.tag-list {
    margin: auto;
    width: 70%;
}

nav {
    /*flex box*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #f7f7f7;
}

nav a:not(:hover) { color: #404040; }

nav h1 {
    font-size: 3em;
    margin: 0;
    padding: .5em 1em;
}

nav > div { width: 50%; }

.navbar {
    list-style: none;
    font-size: 1.3em;
    margin: 0;
    padding: 2em 1em;
    /*flex box*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.navbar a { padding: .7em; }

.post-head {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 1em;
}

.post-head > div { display: inline-block; }

.post-head > div:first-child { width: 15%; }

.post-head > div:nth-child(2) {
    width: 84%;
    text-align: right;
}

#back-to-top {
    right: 1em;
    background-color: #f7f7f7;
    border: 1px solid #5a5a5a;
    width: 3em;
    height: 3em;
    display: block;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    display: none;    /*invisible when page loads*/
}

#back-to-top:hover {
    transform: scale(1.1);
    background-color: #5a5a5a;
}

#back-to-top:not(:hover) { color: black; }

#back-to-top span {
    position: relative;
    top: .4em;
    font-size: 1.5em;
}

.not-found {
    width: 100%;
    margin: auto;
    /*flex box*/
    display: -webkit-box;  /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;  /* Firefox 19 */
    display: -ms-flexbox;  /* IE 10 */
    display: -webkit-flex;  /* Chrome */
    display: flex;  /* Opera 12.1, Firefox 20+ */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

.not-found > div {
    margin: auto;
    padding: 1em;
}

.not-found li {
    font-size: 1.2em;
    padding: .3em;
}

@media screen and (min-width: 760px) and (max-width: 1195px)
{
    .page-header h1, nav h1 { font-size: 2.5em; }
    .nav-block a { font-size: 1.5em; }

    nav { display: block; }

    nav > div {
        width: 100%;
        text-align: center;
    }

    nav h1, .navbar { padding: 10px; }

    .navbar {
        justify-content: space-around;
        background-color: #dfe3ee;
    }

    .excerpt-block { width: 90%; }

    .post-head > div:first-child { width: 20%; }
    .post-head > div:nth-child(2) { width: 79%; }

    .post-list { width: 100%; }
    .tag-list { width: 80%; }
}

@media screen and (max-width: 759px)
{
    .page-header { text-align: center; }
    .page-header h1, nav h1 { font-size: 2em; }
    .page-header h2, .navbar { font-size: 1em; }
    .main-content h2 { font-size: 1.7em; }

    .nav-block a {
        font-size: 1.5em;
        width: 65%;
    }

    nav {
        display: block;
        text-align: center;
    }

    nav > div { width: 100%; }
    nav h1 { padding: 10px; }

    .navbar {
        padding: 0;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        background-color: #dfe3ee;
    }

    .navbar li {
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .navbar li:last-of-type { border-bottom: none; }

    .excerpt-block { width: 90%; }

    .post-head > div { display: block; }

    .post-head > div:first-child {
        width: 100%;
        padding-bottom: 10px;
    }

    .post-head > div:nth-child(2) {
        width: 100%;
        text-align: left;
    }

    .post-list { width: 100%; }
    .tag-list { width: 100%; }
    .post-list > div { padding: 3em 0; }
}
