body {
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
}

a {
    text-decoration: none;
    color: #6897bb;
}

a:hover {
    color: #A2D9CE;
}

.page-header {
    padding: 2% 3%;
    margin: auto;
}

footer {
    padding: 5%;
    text-align: center;
}

.page-header h1 {
    margin: auto;
    padding: 0.5%;
    font-size: 3.5em;
}

.page-header a:not(:hover) {
    color: #404040;
}

.page-header p {
    margin: auto;
    padding: 0.5% 3%;
    font-size: 1.5em;
    font-style: italic;
}

.nav-block {
    margin: 1%;
    padding: 2%;
    /*flex box*/
    display: -webkit-box;  /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;  /* Firefox 19 */
    display: -ms-flexbox;  /* IE 10 */
    display: -webkit-flex;  /* Chrome */
    display: flex;  /* Opera 12.1, Firefox 20+ */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

.nav-block a {
    height: 100px;
    height: 3em;
    width: 15%;
    padding: 8%;
    margin-top: 1%;
    font-size: 2em;
    background-color: #f7f7f7;
    text-align: center;
}

.nav-block a:nth-child(2):not(:hover) {
    background-color: #dfe3ee;
    color: #3b5998;
}

.nav-block a:nth-child(3):not(:hover) {
    background-color: #8b9dc3;
    color: #344e86;
}

.nav-block a:hover {
    background-color: #5a5a5a;
}

.tag {
    display: inline-block;
    border: 1px solid black;
    padding: .3em .5em;
    margin-right: .5em;
    /*border-radius: 3%;*/
    border-radius: 16px;
}

.tag > a, .post-date{
    color: #424949;
}

.tag:hover {
    background-color: #e8f0f7;
}

@media screen and (min-width: 760px) and (max-width: 1195px)
{
    .page-header h1 { font-size: 2.5em; }
    .nav-block a { font-size: 1.5em; }
}

@media screen and (max-width: 759px)
{
    .page-header { text-align: center; }
    .page-header h1 { font-size: 2em; }
    .page-header p { font-size: 1em; }

    .nav-block a {
        font-size: 1.5em;
        width: 65%;
    }
}
